<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.com.swain.baselib" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application>

        <provider
            android:name=".util.photoProvider"
            android:authorities="${applicationId}.photo.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:multiprocess="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/photo_provider" />
        </provider>

    </application>

</manifest>
