<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.com.swain.baselib">

    <!-- wifi -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 文件读写 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 蓝牙 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- 定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application>

        <provider
            android:name=".app.provider.PhotoProvider"
            android:authorities="${applicationId}.photo.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:multiprocess="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/photo_provider" />
        </provider>

        <activity
            android:name=".permission.PermissionHelper$PermissionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:multiprocess="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>
